// 皮带巡检
$tk-smartdevice-pdxj-widht:434px;
$tk-smartdevice-pdxj-height:423px;
// 表头
$tk-smartdevice-pdxj-bt-height:39px;
$tk-smartdevice-pdxj-bt: url('@/assets/image/smartDevices/belt/smart_bt.png');
// 内容
$tk-smartdevice-pdxj-cont-height:412px;
$tk-smartdevice-pdxj-cont_bg: url('@/assets/image/smartDevices/belt/contnet_bg.png');